<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter un livre</title>
</head>
<body>
<div>
    <h2>Menu des bibliothécaires</h2>
    <a href="{% url 'liste_emprunts' %}">Les emprunts</a> &nbsp;|&nbsp;
    <a href="{% url 'liste_membres' %}">La liste des membres</a> &nbsp;|&nbsp;
    <a href="{% url 'liste_livres' %}">La liste des livres</a> &nbsp;|&nbsp;
    <a href="{% url 'liste_cds' %}">La liste des CD</a> &nbsp;|&nbsp;
    <a href="{% url 'liste_dvds' %}">La liste des DVD</a> &nbsp;|&nbsp;
    <a href="{% url 'liste_jeux' %}">La liste des jeux de plateau</a>
</div>
    <h3>Ajouter un livre</h3>
    <form method="post">
        {% csrf_token %}
        <label for="nom">Nom:</label><br>
        <input type="text" id="nom" name="nom"><br>
        <label for="auteur">Auteur:</label><br>
        <input type="text" id="auteur" name="auteur"><br>
        <input type="submit" value="Ajouter">
    </form>
</body>
</html>
